<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <!-- Register Form -->
    <%- include('../partials/registerform') %>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <!-- PopUp Window -->
    <% if (locals.alert) { %> <%- include('../popup/successpopup') %> <% } %>

    <!-- Scripts -->
    <%- include('../scripts/script') %>
  </body>
</html>
